# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_EARTHQUAKES_TOPIC=raw_earthquakes

# Fake producer
FAKE_PRODUCER_EVENT_COUNT=10
FAKE_PRODUCER_INTERVAL_SECONDS=1

# Schema Registry
SCHEMA_REGISTRY_URL=http://localhost:8081

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=seismic
POSTGRES_USER=seismic_user
POSTGRES_PASSWORD=seismic_password

# Kpow
KPOW_PORT=3000
